.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  padding: 50px 200px;
}

.card {
  position: relative;
  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.12);
  padding: 18px;
  border-radius: 4px;
  text-align: left;
}

.card:hover {
  animation: glowing-border 2s infinite;
  background-color: #ffffff;
  background-image: linear-gradient(230deg, #ffffff 50%, #5899e2 74%);
}

@keyframes glowing-border {
  0% {
    border: 4px solid #007bff;
  }
  50% {
    border: 4px solid #c3f2ff;
  }
  100% {
    border: 4px solid #2685cd;
  }
}

.card img {
  max-width: 100%;
  height: auto;
}

.card:hover img {
  transform: translate(0px, -10px);
  transition: transform 0.4s ease-in-out;
}

.card h3 {
  color: #243342;
  font-size: 30px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  margin: 8px 0;
  line-height: 125%;
}

.card .context {
  color: rgba(36, 51, 66, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  margin-top: 8px;
}

@media (max-width: 768px) {
  .card-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
