.Linear {
  box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.8);
}
.Navbar {
  width: 100%;
  background: #f2f2f2;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}
.ListItems {
  list-style-type: none !important;
  display: flex !important;
  gap: 20px;
  align-items: center;
  white-space: nowrap;
  color: #616161;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}

.ListItems li {
  position: relative; /* Add position relative to the list items */
}

.ListItems li::before {
  content: "";
  width: 100%;
  height: 3px;
  display: block;
  background-color: #000;
  position: absolute; /* Position absolutely within the list item */
  bottom: 0; /* Position at the bottom of the list item */
  transform: scaleX(0); /* Initially, scale to 0 width */
  transition: transform 0.5s; /* Add a transition to create the hover effect */
}

.ListItems li:hover::before {
  transform: scaleX(1); /* Scale to full width on hover */
}

.LastBoth {
  display: flex;
  align-items: center;
}
.Search {
  border: 50%;
  padding: 5px 0px;
  border-radius: 100px;
  background-color: rgb(224, 224, 215) !important;
}
.SeachInput {
  border: none !important; /* Remove the border */
  outline: none; /* Remove the outline */
  border-radius: 25px;
  padding-left: 0px !important;
}
.Contact {
  background-color: #242f62;
  padding: 10px 20px;
  border-radius: 6.36px;

  & :hover {
    background-color: #fff;
    border: 2px solid #242f62;
  }
}

.Contact:hover .Contact-typo {
  color: #242f63;
}
.Contact-typo {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}
